<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/fb023d9a-b7ce-4a44-9e99-82f032345ec2/resourceGroups/Interdisciplinary-assignment/providers/Microsoft.Web/sites/Interdicsiplinary-assignment</ResourceId>
    <ResourceGroup>Interdisciplinary-assignment</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://interdicsiplinary-assignment.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>interdicsiplinary-assignment.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Interdicsiplinary-assignment</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Interdicsiplinary-assignment</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>